<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="images/favicon.png" sizes="57x57" rel="apple-touch-icon">
    <link href="images/favicon.png" sizes="60x60" rel="apple-touch-icon">
    <link href="images/favicon.png" sizes="72x72" rel="apple-touch-icon">
    <link href="images/favicon.png" sizes="76x76" rel="apple-touch-icon">
    <link href="images/favicon.png" sizes="114x114" rel="apple-touch-icon">
    <link href="images/favicon.png" sizes="120x120" rel="apple-touch-icon">
    <link href="images/favicon.png" sizes="144x144" rel="apple-touch-icon">
    <link href="images/favicon.png" sizes="152x152" rel="apple-touch-icon">
    <link href="images/favicon.png" sizes="180x180" rel="apple-touch-icon">
    <link href="images/favicon.png" sizes="192x192" type="image/png" rel="icon">
    <link href="images/favicon.png" sizes="32x32" type="image/png" rel="icon">
    <link href="images/favicon.png" sizes="96x96" type="image/png" rel="icon">
    <link href="images/favicon.png" sizes="16x16" type="image/png" rel="icon">
    <link href="index.html" rel="canonical">
    <meta content="Join Your Freedom" name="Join Your Freedom">
    <meta content="Linework " name="Linework ">
    <meta content="images/favicon.png" name="msapplication-TileImage">
    <title>{{ title }}</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/main.js" defer></script>
    <script src="js/plugin/addons.js"></script>
    <noscript><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=697334061612491&ev=PageView&noscript=1"/></noscript>
  </head>
  <body>
    {% include "header.njk" %}
    {{ content | safe }}
    {% include "footer.njk" %}
  </body>
</html>