@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --typeface: "Open Sans", sans-serif;
    --grey-900: hsl(0, 0%, 1%);
    --grey-800: hsl(60, 4%, 11%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-600: hsl(0, 0%, 43%);
    --grey-500: hsl(0, 0%, 53%);
    --grey-000: hsl(0, 0%, 100%);
    --primary: hsl(1, 79%, 43%);
    --primary-dark: hsl(1, 79%, 37%);
    --font-base: 1rem;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --h1: 3.5rem;
    --h2: 2.5rem;
    --h3: 2rem;
    --h4: 1.5rem;
    --h5: 1.125rem;
    --h6: 1rem;
    --fs-xs: 0.75rem;
    --fs-s: 0.875rem;
    --fs-m: 1rem;
    --fs-l: 1.125rem;
    --lh-xs: 1.3;
    --lh-s: 1.6;
    --lh-m: 1.5;
    --lh-l: 1.67;
}

/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html {
    font-family: var(--typeface);
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--grey-900);
    color: var(--grey-000);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease 0s;
}

a:hover,
a:focus-within {
    color: var(--primary);
}

/* Global styles */
h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

p {
    font-size: var(--fs-m);
    line-height: var(--lh-m);
}

.wrapper {
    max-width: 75rem;
    margin-inline: auto;
}

.mobile,
.d-none {
    display: none;
}

.d-grid {
    display: grid;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.margin-block-auto {
    margin-block: auto;
}

.margin-inline-auto {
    margin-inline: auto;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-relative {
    position: relative;
}

.logo img {
    height: 2.5rem;
}

.gap-24 {
    gap: 1.5rem;
}

.gap-16 {
    gap: 1rem;
}

.button-primary {
    --p-block: 1rem;
    --p-inline: 1rem;
    --font-size: var(--fs-m);
    --b-radius: 0px;

    padding: var(--p-block) var(--p-inline);
    font-size: var(--font-size);
    background-color: var(--primary);
    border-radius: var(--b-radius);
}

.button-primary:hover,
.button-primary:focus-within {
    background-color: var(--primary-dark);
    color: var(--grey-000);
}

.button-01 {
    --size: 2.5rem;
    background: var(--grey-700);
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    display: block;
    text-align: center;
    border-radius: 100%;
}

.button-01:hover,
.button-01:focus-within {
    background-color: var(--primary);
    color: var(--grey-000);
}

main {
    --header-offest: 4.5rem;
    margin-block-start: var(--header-offest);
}

/* Naviagtion */
header.nav {
    position: fixed;
    inset: 0;
    z-index: 1;
    height: fit-content;
    background-color: var(--grey-900);
}

.nav-group {
    align-items: center;
}

.nav-links {
    margin-inline-start: auto;
}

.nav-links>ul {
    align-items: center;
    gap: 48px;
}

.nav-links>ul li a {
    font-weight: var(--weight-bold);
    text-transform: uppercase;
}

.nav-links>ul li a[data-state="special"].button-primary {
    --p-block: 1.5rem;
    --p-inline: 1.25rem;
    --font-size: var(--fs-s);
}

.nav-links>ul li a[aria-current=page] {
    color: var(--primary);
}

.nav-links>ul li a[aria-current=page]:where(a:hover, a:focus-within) {
    color: var(--primary-dark);
}

main {
    min-height: 700px;
}

/* Mega Menu */
.megamenu-container {
    z-index: -1;
    inset: 0;
    inset-block-start: 5rem;
}

.megamenu-container>ul {
    --gap: 48px;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    background-color: var(--grey-800);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 8px 15px 0 hsl(0deg 0% 1% / 10%);
    max-height: 32.5rem;
    overflow-y: auto;
}

.megamenu-container>ul .megamenu__group {
    gap: 1rem;
    place-items: center;
    text-align: center;
}

.megamenu-container>ul .megamenu__group img {
    --size: 2rem;
    aspect-ratio: 1/1;
    height: var(--size);
}

.megamenu-container>ul .megamenu__group h4 {
    font-size: var(--fs-m);
    text-transform: uppercase;
    font-weight: var(--weight-semibold);
}

.megamenu-container>ul .megamenu__group p {
    font-size: var(--fs-s);
    opacity: .8;
    line-height: var(--lh-l);
}

.megamenu-container>ul .megamenu__group a.button-primary {
    --p-block: 0.25rem;
    --p-inline: 0.75rem;
    --font-size: var(--fs-s);
    --b-radius: 4px;

    font-weight: var(--weight-regular);
}

/* Footer */
footer {
    --padding: 2rem;
    background-color: var(--grey-900);
    padding-block: var(--padding);
}

.footer-top {
    border-bottom: 1px solid var(--grey-700);
    padding-block-end: var(--padding);
    align-items: center;
}

.footer-social-links,
.copyright,
.copyright ul {
    align-items: center;
}

.footer-social-links,
.copyright p {
    margin-inline-start: auto;
}

.footer-social-links ul {
    align-items: center;
}

.copyright {
    padding-block-start: var(--padding);
    color: var(--grey-500);
    font-weight: var(--weight-medium);
}