<header role="banner" class="nav p-fixed inset-0">
    <div class="wrapper">
        <div class="nav-group d-flex p-relative">
            <div class="nav-title d-flex">
                <a href="/" class="logo">
                    <img class="logo-wordmark" src="/images/logo-wordmark.png" alt="Image of Linework's logo and wordmark.">
                </a>
                {# <button class="button-01 mobile" type="button">
                    <i class="fas fa-times"></i>
                </button> #}
            </div>
            <button class="button-01 mobile" type="button">
                <i class="fas fa-bars"></i>
            </button>
            <nav class="nav-links desktop" aria-label="Primary">
                <ul class="d-flex">
                    {% for item in nav.items %}
                        <li class="nav-link{% if item.special %} desktop{% endif %}">
                            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }} {% if item.special %} title="{{ item.text }}" target="_blank" data-state="{{ item.special }}" {% endif %} class="nav-link__item{% if item.special %} d-block button-primary{% endif %}" {% if item.megamenuItems %} id="megaMenu" {% endif %}>{{ item.text | safe }}</a>
                            {% if item.megamenuItems %}
                                <div class="megamenu-container p-absolute d-none">
                                    <ul class="d-grid">
                                        {% for megaMenuItem in item.megamenuItems %}
                                            <li class="megamenu__group d-grid">
                                                <img src="{{ megaMenuItem.image }}" alt="">
                                                <h4 class="desktop">{{ megaMenuItem.text }}</h4>
                                                <a href="{{ megaMenuItem.link }}" class="megamenu__link mobile">{{ megaMenuItem.text }}</a>
                                                <p class="desktop">{{ megaMenuItem.description }}</p>
                                                <a href="{{ megaMenuItem.link }}" class="button-primary desktop">{{ megaMenuItem.cta }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
</li>